.summary-row {
  border: 2px solid #000;
  width: max-content;
  margin: 10px auto;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: bold;
  gap: 10px;
}

.indevidual-status {
  border-right: 2px solid #000;
  padding-right: 10px;
}

.hired {
  color: darkgreen;
}
.rejected{
  color: darkred;
}
